*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 238);
}

/*HEADER*/

.header{
    background-color: slategray;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
}
.header-div-logo{
    display: flex;
    text-decoration: none;
}
.header-div-logo img{
    padding: 5px 0;
    width: 50px;
}
.header-div-logo h3{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: sans-serif;
    text-shadow: 2px 2px 2px black;
    padding: 20px 5px;
}
.header-div2 ul{
    display: flex;
    list-style: none;
}
.header-div2 li{
    background-color: rgb(60, 60, 60);
    margin: 0 15px;
    padding: 20px;
    border-radius: 20px 0 20px 0;
}
.header-div2 li:hover{
    background-color: rgb(50, 50, 50);
}
.header-div2 a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: sans-serif;
    text-shadow: 2px 2px 2px black;
}

/*SECTION*/

.seccion{
    margin-top: 75px;
}
.seccion-div{
    text-align: center;
}
.seccion-div img{
    width: 500px;
    border-radius: 100%;
    border: double 10px rgb(32, 32, 32);
}
.seccion-div2 h1{
    color: rgb(88, 88, 88);
    margin: 10px 0;
    text-shadow: 1px 1px 1px black;
    font-size: 3rem;
    font-family: sans-serif;
    text-align: center;
}
.seccion-div2 p{
    color: black;
    margin: 10px 0;
    font-size: 1.8rem;
    text-align: center;
}

.seccion-div3{
    background-color: slategray;
    width: 100%;
    margin-top: 75px;
}
.seccion-div3 h1{
    color: white;
    font-size: 2.5rem;
    font-family: sans-serif;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    text-align: center;
    padding: 50px 50px 0px 50px;
}
.seccion-div3 p{
    color: white;
    font-size: 1.8rem;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    padding: 50px;
}

/*SECTION 2*/

.seccion-2{
    margin-top: 75px;
}
.seccion-titulo h1{
    color: rgb(80,80,80);
    text-shadow: 1px 1px 1px black;
    text-align: center;
    font-family: sans-serif;
    font-size: 2.5rem;
}
.seccion-img{
    display: flex;
    flex-wrap: wrap;
    margin-top: 75px;
}
.seccion-img img{
    width: 280px;
    height: 280px;
    margin: 20px auto;
}
/*SECCION 3*/

.seccion-3{
    margin-top: 75px;
}
.seccion-titulo--proyectos h1{
    color: rgb(80,80,80);
    text-shadow: 1px 1px 1px black;
    text-align: center;
    font-family: sans-serif;
    font-size: 2.5rem;
}
.seccion-proyectos{
    display: flex;
    flex-wrap: wrap;
    margin-top: 75px;
}
.seccion-proyectos a{
    width: 600px;
    height: 400px;
    margin: 20px auto;
    border-radius: 5%;
    opacity:0.8;
    scale: 0.9;
}
.seccion-proyectos a:hover{
    opacity:1;
    scale: 1;
    transition-duration: 1.3s;
}
.seccion-proyectos img{
    width: 100%;
    height: 100%;
    border-radius: 5%;
}
.seccion-masProyectos{
    margin-top: 50px;
    text-align: center;  
}
.seccion-masProyectos a{
    color: white;
    background-color: rgb(80,80,80);
    text-decoration: none;
    font-size: 1.3rem;
    font-family: sans-serif;
    text-shadow: 1px 1px 1px black;
    padding: 10px;
    border-radius: 10px 0 10px 0;
}
.seccion-masProyectos a:hover{
    color: rgb(80,80,80);
    background-color: white;
    text-decoration:underline;
    border: 2px solid rgb(80,80,80);
}

/*SECCION 4*/

.seccion-4{
    margin: 75px auto 0px auto;
    width: 80%;
    background-color: slategray;
    display: flex;
    align-items: center;
    padding: 50px;
    border: 5px double black;
    border-radius: 20px;
}
.seccion-contacto--titulo, .seccion-contacto--parrafo, .seccion-contacto--email{
    width: 33.3%;
    text-align: center;
}
.seccion-contacto--titulo h1{
    color: white;
    font-size: 2.5rem;
    font-family: sans-serif;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
.seccion-contacto--parrafo p{
    color: white;
    font-size: 1.8rem;
    font-family: sans-serif;
    text-shadow: 1px 1px 1px black;
}
.seccion-contacto--email a{
    font-size: 2rem;
    background-color: rgb(60, 60, 60);;
    border: 2px white solid;
    border-radius: 30%;
    padding: 20px;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px black;
}
.seccion-contacto--email a:hover{
    background-color: white;
    color: rgb(80,80,80);
    border: 3px solid rgb(80,80,80);
}
/*FOOTER*/

.footer-contenedor{
    margin-top: 75px;
    width: 100%;
    background-color: slategray;
}
.footer-logo{
    display: flex;
    justify-content: center;
}
.footer-logo img{
    width: 200px;
    padding: 10px;
}
.footer-parrafo{
    display: flex;
    justify-content: center;
}
.footer-parrafo p{
    width: 500px;
    color: white;
    font-size: 2.5rem;
    font-family: sans-serif;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    text-align: center;
}
.footer-redes{
    display: flex;
    justify-content: center;
}
.footer-redes ul{
    display: flex;
    list-style: none;
}
.footer-redes li{
    margin: 0 20px;
}
.footer-redes a{
    font-size: 2rem;
}